@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bitter:ital,wght@0,400;0,500;1,300&family=Graduate&family=Merriweather:wght@300&family=Oswald&family=Roboto+Slab:wght@300&family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: white;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.2s linear;
}


/* body {
    background-attachment: fixed;
    background-image: url(Background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center top;
} */

html {
    overflow-x: hidden;
    scroll-padding-top: 10px;
    scroll-behavior: smooth;
    height: 100%;
    max-height: 600px;
    width: 100%;
    background-color: hsla(200, 40%, 30%, 0.4);
    background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"), url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"), url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"), url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"), url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
    background-repeat: repeat;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    background-size: 100%;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
    }
}

label,
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper-container {
    width: 85%;
    margin: 0 auto;
}


/* css header */

.header {
    z-index: 10;
    background-color: var(--bg);
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px 15px 20px;
    transition: 0.5s ease;
    text-transform: uppercase;
}

.header img {
    width: 70px;
    height: auto;
    margin-right: 76px;
}


/* css .navbar */

.navbar a {
    color: black;
    font-weight: bold;
    padding: 0px 20px;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.2rem solid var(--main-color);
    padding-bottom: 0.5rem;
}


/* css .icons */

.icons div {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 2rem;
}

.icons div:hover {
    color: var(--main-color);
}


/* css .btn */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    text-transform: capitalize;
    border: 1px solid var(--main-color);
}

.btn:hover {
    background-color: white;
    color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color), 0 0 15px var(--main-color);
    transition: 0.5s;
}


/* css search-form */

.search-form {
    position: absolute;
    top: 115%;
    right: 5%;
    background-color: #fff;
    width: 30rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border: 2px solid var(--main-color);
}

.search-form.active {
    transform: scaleY(1);
}

.search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.search-form label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.search-form label:hover {
    color: var(--main-color);
}


/* css cart */

.cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 4.4rem);
    width: 28rem;
    background: #fff;
    padding: 0 1.5rem;
    border-top: 0.3rem solid var(--main-color);
    border-left: 0.3rem solid var(--main-color);
}

.cart-items-container.active {
    right: 0;
}

.cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5;
}

.cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.cart-item .fa-times:hover {
    color: var(--main-color);
}

.content h3 {
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.price {
    font-size: 1rem;
    color: var(--main-color);
}

.cart-items-container .btn {
    width: 100%;
    text-align: center;
}


/* menu-btn */

#menu-btn {
    display: none;
}


/* css about-us */

.About-us {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 70px auto 0;
    background-color: var(--bg);
    padding: 20px 0;
}

.about-content-item {
    position: absolute;
    top: 3.894vw;
    width: 100%;
    padding-left: 2.537vw;
}


/* css about-content-1 */

.about-content-1 {
    position: relative;
    width: 43.658vw;
}

.about-content-1:hover {
    background: rgba(27, 16, 16, 0.707);
    color: var(--main-color);
    text-shadow: 10px 10px 10px var(--main-color);
}

.about-content-1 h1 {
    position: relative;
    left: 6.372vw;
    font-family: "Amatic SC", cursive;
    font-size: 2.655vw;
    top: -0.59vw;
}

.about-content-1 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 2.124vw;
    font-size: 1.062vw;
    position: relative;
    top: -1.534vw;
}

.about-content-1 p span {
    font-family: "Bitter", serif;
    font-style: normal;
    font-weight: 500;
}

.about-content-1 span {
    font-family: "Amatic SC", cursive;
    font-size: 1.475vw;
    position: relative;
    top: -1.357vw;
}


/* css about-content-2 */

.about-content-2 {
    position: absolute;
    top: 38.9vw;
    left: 48.614vw;
    width: 32.743vw;
}

.about-content-2:hover {
    background: rgba(137, 0, 0, 0.707);
    color: rgb(174, 247, 255);
    text-shadow: 10px 10px 10px var(--main-color);
}

.about-content-2 h1 {
    position: relative;
    font-family: "Amatic SC", cursive;
    font-size: 2.065vw;
    top: 0.59vw;
}

.about-content-2 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 1.652vw;
    font-size: 1.062vw;
    padding-bottom: 1.593vw;
}

.about-content-2 p span {
    font-family: "Bitter", serif;
    font-weight: 700;
}


/* css about-content-3 */

.about-content-3 {
    position: absolute;
    top: 64.602vw;
    width: 43.658vw;
}

.about-content-3:hover {
    background: rgba(13, 74, 52, 0.707);
    color: var(--bg);
    text-shadow: 10px 10px 10px var(--bg);
}

.about-content-3 h1 {
    position: relative;
    font-family: "Amatic SC", cursive;
    font-size: 2.065vw;
    top: -0.4vw;
}

.about-content-3 p {
    font-family: "Bitter", serif;
    font-style: italic;
    line-height: 2.36vw;
    font-size: 1.062vw;
    position: relative;
    top: -1.475vw;
}

.about-content-3 p span {
    font-weight: 500;
}


/* css footer */

.footer {
    background: var(--main-color);
    text-align: center;
    margin: 0 auto;
}

.footer .share a {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--black);
    margin: 0.2rem 1rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: white;
}


/* media queries */

@media only screen and (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    /* css header */
    .icons {
        display: inherit;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 15rem;
        height: calc(100vh - 20rem);
        border: 2px solid var(--main-color);
        border-right: none;
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .header .navbar a:hover {
        color: var(--main-color);
        border-bottom: none;
    }
    .header .search-form {
        width: 90%;
        right: 2rem;
    }
    .cart-items-container {
        right: -200%;
    }
}